body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
}

.main-container {
  padding: 32px 24px 24px 24px;
  background-color: var(--secondary-bg-color);
  @media screen and (min-width: 768px) {
    padding: 32px 32px 0 32px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

textarea {
  resize: none;
}
