:root {
  --bs-body-font-family: 'Plus Jakarta Sans', sans-serif;
  --primary-text-color: #3d5278;
  --title-text-color: #1a202c;
  --subtitle-text-color: #90a3bf;
  --accent-color: #3563e9;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f6f7f9;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
