$primary: #3563e9;

$text-muted: rgba(19, 19, 19, 0.6);
$body-color: #ffffff;

$navbar-padding-y: 32px;
$navbar-padding-x: 25px;
$navbar-light-color: $text-muted;
$navbar-light-active-color: $primary;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
