.footer {
  background-color: #f6f7f9;
  @media screen and (min-width: $tablet) {
    margin-left: 60px;
    margin-right: 60px;
    background-color: #fff;
  }
}

.footer-main-container {
  padding: 24px;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(19, 19, 19, 0.16);
  }
}

.footer__info {
  max-width: 216px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--subtitle-text-color);
  @media screen and (max-width: $tablet) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 292px;
    font-size: 16px;
  }
}

.footer__info .navbar-brand {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-bottom: 16px;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $tablet) {
    margin-left: -65px;
    margin-bottom: -48px;
  }
  @media screen and (min-width: $tablet) {
    margin-left: -60px;
    flex-wrap: nowrap;
    column-direction: reverse;
  }
}

.footer__menu-block {
  @media screen and (max-width: $tablet) {
    flex-basis: calc(100% / 2 - 65px);
    margin-left: 65px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
  }
}

.footer__about {
    @media screen and (min-width: $tablet) {
      order: 1;
  }
}

.footer__community {
  @media screen and (min-width: $tablet) {
      order: 2;
  }
}

.footer__socials {
  @media screen and (min-width: $tablet) {
      order: 3;
  }
}

.footer__menu .footer__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.footer__nav li {
  margin-bottom: 10px;
}

.footer__nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--subtitle-text-color);
  text-decoration: none;
}

.footer-bottom-container {
  padding: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: var(--title-text-color);
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 48px;
  }
}

.footer-bottom-container a {
  color: var(--title-text-color);
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.footer__privacy-terms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    order: 2;
  }
}

.footer__terms {
  @media screen and (min-width: $tablet) {
    margin-left: 60px;
  }
}
