.navbar__top {
  @media screen and (max-width: $tablet) {
    margin-bottom: 30px;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.navbar {
  @media screen and (min-width: $tablet) {
    position: relative;
    padding-top: 40px;
    padding-right: 32px;
  }
  .navbar__main-container {
    @media screen and (min-width: $tablet) {
      position: absolute;
      display: flex;
      align-items: baseline;
      left: 60px;
      top: 40px;
    }
  }
  .navbar-brand {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--accent-color);
    @media screen and (min-width: $tablet) {
      margin-right: 60px;
      margin-bottom: 0;
    }
  }
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 20px;
}

.search {
  position: relative;
  display: block;
  @media screen and (max-width: $tablet) {
    margin-top: 24px;
  }
}

.search__input {
  min-height: 48px;
  width: 263px;
  background-color: inherit;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
  padding-left: 56px;
  padding-right: 2px;

  @media screen and (min-width: $desktop) {
    min-height: 44px;
    width: 492px;
    border-radius: 70px;
    padding-left: 64px;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
  }
}

.search__button {
  position: absolute;
  border: none;
  background: none;
  padding: 0;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.search__filter {
  margin-left: 16px;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
  background: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    padding: 0;
  }
}

.search__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.filter__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
